<%= form_for(@vital) do |f| %>
  <% if @vital.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vital.errors.count, "error") %> prohibited this vital from being saved:</h2>

      <ul>
      <% @vital.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :Patient_ID %><br>
    <%= f.text_field :Patient_ID %>
  </div>
  <div class="field">
    <%= f.label :Vital_Value %><br>
    <%= f.text_field :Vital_Value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
