<div class = "row">
      <%= form_for @vital, html:{class: 'form-horizontal'} do |f| %>
        <% if @vital.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@vital.errors.count, "error") %> prohibited this vital from being saved:</h2>

            <ul>
            <% @vital.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

<div class="control-group">
  <%= f.label :date,class:'control-label' %><br>
  <div class ="controls">
    <%= f.date_select :date %>  
  </div>
</div> 
  
<div class="control-group">
  <%= f.label :Patient_ID,class:'control-label' %><br>
  <div class ="controls">
    <%= f.text_field :Patient_ID %>
  </div>
</div>
  
<div class="control-group">
  <%= f.label :"Vital-Type",class:'control-label' %><br>
  <div class ="controls">
    <%= f.select(:vital_type,options_for_select([['Blood-Pressure','Blood-Pressure'],['Blood-Sugar','Blood-Sugar'],['Weight','Weight'],['Heartbeat','Heartbeat']]),{include_blank:true}) %>
  </div>
</div>
  
<div class="control-group">
  <%= f.label :Vital_Value,class:'control-label' %><br>
  <div class ="controls">
    <%= f.text_field :Vital_Value %>
  </div>
</div>
  
  <div class="control-group">
    <%= f.label :Doctor,class:'control-label' %><br>
    <div class ="controls">
      <%= collection_select( :vitals,:physician_id,Physician.all, :id,:name, {},{:multiple => false} )%>
    </div>
</div>
  
 <div class="control-group">
   <div class ="controls">
     <%= f.submit 'Submit',class: 'btn btn-default' %>
   </div>
</div>
<% end %>
</div>


