<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @vital.date %>
</p>

<p>
  <strong>Patient ID:</strong>
  <%= @vital.Patient_ID %>
</p>

<p>
  <strong>Vital value:</strong>
  <%= @vital.Vital_Value %>
</p>

<%= link_to 'Edit', edit_vital_path(@vital) %> |
<%= link_to 'Back', vitals_path %>
